wcfkurs.se.ASMXLABB1/LABB1Client/Service References/Lab1ExtrasService2/Extras2Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="FruitFinder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="letterKey" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FruitFinderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FruitFinderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FruitFinderSoapIn">
    <wsdl:part name="parameters" element="tns:FruitFinder" />
  </wsdl:message>
  <wsdl:message name="FruitFinderSoapOut">
    <wsdl:part name="parameters" element="tns:FruitFinderResponse" />
  </wsdl:message>
  <wsdl:portType name="Extras2ServiceSoap">
    <wsdl:operation name="FruitFinder">
      <wsdl:input message="tns:FruitFinderSoapIn" />
      <wsdl:output message="tns:FruitFinderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Extras2ServiceSoap" type="tns:Extras2ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FruitFinder">
      <soap:operation soapAction="http://tempuri.org/FruitFinder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Extras2ServiceSoap12" type="tns:Extras2ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FruitFinder">
      <soap12:operation soapAction="http://tempuri.org/FruitFinder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Extras2Service">
    <wsdl:port name="Extras2ServiceSoap" binding="tns:Extras2ServiceSoap">
      <soap:address location="http://localhost:9454/Extras2Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Extras2ServiceSoap12" binding="tns:Extras2ServiceSoap12">
      <soap12:address location="http://localhost:9454/Extras2Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>