wcfkurs.se.ASMXLABB1/LABB1Client/Service References/Labb1Service1/Lab1Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EstimatedWeather">
        <s:complexType />
      </s:element>
      <s:element name="EstimatedWeatherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstimatedWeatherResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EstimatedWeatherSoapIn">
    <wsdl:part name="parameters" element="tns:EstimatedWeather" />
  </wsdl:message>
  <wsdl:message name="EstimatedWeatherSoapOut">
    <wsdl:part name="parameters" element="tns:EstimatedWeatherResponse" />
  </wsdl:message>
  <wsdl:portType name="Lab1Service1Soap">
    <wsdl:operation name="EstimatedWeather">
      <wsdl:input message="tns:EstimatedWeatherSoapIn" />
      <wsdl:output message="tns:EstimatedWeatherSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Lab1Service1Soap" type="tns:Lab1Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstimatedWeather">
      <soap:operation soapAction="http://tempuri.org/EstimatedWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Lab1Service1Soap12" type="tns:Lab1Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstimatedWeather">
      <soap12:operation soapAction="http://tempuri.org/EstimatedWeather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lab1Service1">
    <wsdl:port name="Lab1Service1Soap" binding="tns:Lab1Service1Soap">
      <soap:address location="http://localhost:52115/Lab1Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Lab1Service1Soap12" binding="tns:Lab1Service1Soap12">
      <soap12:address location="http://localhost:52115/Lab1Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>