wcfkurs.se.ASMXLABB1/LABB1Client/Service References/Lab1ExtrasService1/Extras1Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FindMovies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindMoviesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindMoviesSoapIn">
    <wsdl:part name="parameters" element="tns:FindMovies" />
  </wsdl:message>
  <wsdl:message name="FindMoviesSoapOut">
    <wsdl:part name="parameters" element="tns:FindMoviesResponse" />
  </wsdl:message>
  <wsdl:portType name="Extras1ServiceSoap">
    <wsdl:operation name="FindMovies">
      <wsdl:input message="tns:FindMoviesSoapIn" />
      <wsdl:output message="tns:FindMoviesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Extras1ServiceSoap" type="tns:Extras1ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindMovies">
      <soap:operation soapAction="http://tempuri.org/FindMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Extras1ServiceSoap12" type="tns:Extras1ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindMovies">
      <soap12:operation soapAction="http://tempuri.org/FindMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Extras1Service">
    <wsdl:port name="Extras1ServiceSoap" binding="tns:Extras1ServiceSoap">
      <soap:address location="http://localhost:5466/Extras1Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Extras1ServiceSoap12" binding="tns:Extras1ServiceSoap12">
      <soap12:address location="http://localhost:5466/Extras1Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>