wcfkurs.se.ASMXLABB1/LABB1Client/Service References/Lab1Service2/Lab1Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nrx" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nry" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFunctionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:AddFunction" />
  </wsdl:message>
  <wsdl:message name="AddFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:AddFunctionResponse" />
  </wsdl:message>
  <wsdl:portType name="Lab1Service2Soap">
    <wsdl:operation name="AddFunction">
      <wsdl:input message="tns:AddFunctionSoapIn" />
      <wsdl:output message="tns:AddFunctionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Lab1Service2Soap" type="tns:Lab1Service2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFunction">
      <soap:operation soapAction="http://tempuri.org/AddFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Lab1Service2Soap12" type="tns:Lab1Service2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFunction">
      <soap12:operation soapAction="http://tempuri.org/AddFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lab1Service2">
    <wsdl:port name="Lab1Service2Soap" binding="tns:Lab1Service2Soap">
      <soap:address location="http://localhost:52314/Lab1Service2.asmx" />
    </wsdl:port>
    <wsdl:port name="Lab1Service2Soap12" binding="tns:Lab1Service2Soap12">
      <soap12:address location="http://localhost:52314/Lab1Service2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>