wcfkurs.se.ASMXLABB1/LABB1Client/Service References/Lab1ExtrasService3/Extras3Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FindDeadPeopleByMonth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Month" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindDeadPeopleByMonthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindDeadPeopleByMonthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindDeadPeopleByMonthSoapIn">
    <wsdl:part name="parameters" element="tns:FindDeadPeopleByMonth" />
  </wsdl:message>
  <wsdl:message name="FindDeadPeopleByMonthSoapOut">
    <wsdl:part name="parameters" element="tns:FindDeadPeopleByMonthResponse" />
  </wsdl:message>
  <wsdl:portType name="Extras3ServiceSoap">
    <wsdl:operation name="FindDeadPeopleByMonth">
      <wsdl:input message="tns:FindDeadPeopleByMonthSoapIn" />
      <wsdl:output message="tns:FindDeadPeopleByMonthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Extras3ServiceSoap" type="tns:Extras3ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindDeadPeopleByMonth">
      <soap:operation soapAction="http://tempuri.org/FindDeadPeopleByMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Extras3ServiceSoap12" type="tns:Extras3ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindDeadPeopleByMonth">
      <soap12:operation soapAction="http://tempuri.org/FindDeadPeopleByMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Extras3Service">
    <wsdl:port name="Extras3ServiceSoap" binding="tns:Extras3ServiceSoap">
      <soap:address location="http://localhost:12024/Extras3Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Extras3ServiceSoap12" binding="tns:Extras3ServiceSoap12">
      <soap12:address location="http://localhost:12024/Extras3Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>