wcfkurs.se.ASMXLABB1/LABB1Client/Service References/Lab1Service3/Lab1Service3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddThreeNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nr1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nr2" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nr3" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddThreeNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddThreeNumbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddThreeNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:AddThreeNumbers" />
  </wsdl:message>
  <wsdl:message name="AddThreeNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:AddThreeNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="Lab1Service3Soap">
    <wsdl:operation name="AddThreeNumbers">
      <wsdl:input message="tns:AddThreeNumbersSoapIn" />
      <wsdl:output message="tns:AddThreeNumbersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Lab1Service3Soap" type="tns:Lab1Service3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddThreeNumbers">
      <soap:operation soapAction="http://tempuri.org/AddThreeNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Lab1Service3Soap12" type="tns:Lab1Service3Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddThreeNumbers">
      <soap12:operation soapAction="http://tempuri.org/AddThreeNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lab1Service3">
    <wsdl:port name="Lab1Service3Soap" binding="tns:Lab1Service3Soap">
      <soap:address location="http://localhost:62537/Lab1Service3.asmx" />
    </wsdl:port>
    <wsdl:port name="Lab1Service3Soap12" binding="tns:Lab1Service3Soap12">
      <soap12:address location="http://localhost:62537/Lab1Service3.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>