wcfkurs.se.ASMXLABB1/LABB1Client/Service References/Lab1Service5/Lab1Service5.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DateFinder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DateFinderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DateFinderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DateFinderSoapIn">
    <wsdl:part name="parameters" element="tns:DateFinder" />
  </wsdl:message>
  <wsdl:message name="DateFinderSoapOut">
    <wsdl:part name="parameters" element="tns:DateFinderResponse" />
  </wsdl:message>
  <wsdl:portType name="Lab1Service5Soap">
    <wsdl:operation name="DateFinder">
      <wsdl:input message="tns:DateFinderSoapIn" />
      <wsdl:output message="tns:DateFinderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Lab1Service5Soap" type="tns:Lab1Service5Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DateFinder">
      <soap:operation soapAction="http://tempuri.org/DateFinder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Lab1Service5Soap12" type="tns:Lab1Service5Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DateFinder">
      <soap12:operation soapAction="http://tempuri.org/DateFinder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lab1Service5">
    <wsdl:port name="Lab1Service5Soap" binding="tns:Lab1Service5Soap">
      <soap:address location="http://localhost:5211/Lab1Service5.asmx" />
    </wsdl:port>
    <wsdl:port name="Lab1Service5Soap12" binding="tns:Lab1Service5Soap12">
      <soap12:address location="http://localhost:5211/Lab1Service5.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>